#nav-bar {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 16px;
  display: block;
}

.nav-container {
  display: flex;
}

@media screen and (max-width: 999px) {
  .nav-container {
    overflow-y: hidden;
    overflow-x: auto;
  }
}

@media screen and (max-width: 991px) {
  .nav-container {
    width: 100%;
    max-width: 100%;
  }
}

.main-nav {
  padding: 0;
  width: 100%;
  height: 40px;
  margin: 0 65px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav li {
  display: block;
  flex: none;
}

@media screen and (max-width: 767px) {
  .main-nav li {
    margin: 0 8px;
  }
}

.main-nav li.divider {
  height: 8px;
  width: 1px;
  background-color: #e0e0e0;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  background-color: transparent;
}
.main-nav li a {
  color: #d6d6d6;
  display: block;
  height: 100%;
  padding: 10px 8px;
  font-size: 1em;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
}

.main-nav li a:hover {
  border-bottom-color: #fff;
  text-decoration: none;
}

.main-nav li.active a {
  border-bottom-color: #fff;
}

@media screen and (min-width: 1200px) {
  .main-nav li a {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 767px) {
  .main-nav li a {
    padding-left: 4px;
    padding-right: 4px;
  }
}
