.search {
  position: relative;
}

@media screen and (min-width: 768px) {
  .search {
    width: 274px;
    margin-left: auto;
    margin-right: 60px;
  }
}
@media screen and (max-width: 767px) {
  .search {
    width: 100px;
  }
}

button,
input {
  overflow: visible;
  margin: 0;
}

button {
  text-transform: none;
}

form {
  display: block;
  margin-top: 0em;
}

.form-control {
  padding-right: 24px;
  display: block;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  width: 100%;
  padding: 3.25px 4.25px;
  line-height: 1.33333em;
  color: #333;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
  transition: all 0.15s ease-out 0s;
}

.btn-search :default {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-search {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  outline: 0;
  vertical-align: middle;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0 0;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
