@import "reset.css";
@import "header.css";
@import "search.css";
@import "nav.css";

body {
  height: 100vh;
  box-sizing: border-box;
  font-size: 14px;
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
}
