#header #nav-bar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

#header #nav-bar .main-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header #nav-bar .main-nav li {
  display: block;
  margin: 0 15px;
  flex: none;
}

@media screen and (max-width: 767px) {
  #header #nav-bar .main-nav li {
    margin: 0 8px;
  }
}

#header #nav-bar .main-nav li:first-child {
  margin-left: 0;
}

#header #nav-bar .main-nav li:last-child {
  margin-right: 0;
}

#header #nav-bar .main-nav li.active a {
  border-bottom-color: #fff;
  text-decoration: none;
}

#header #nav-bar .main-nav li a {
  color: #ffffff;
  display: block;
  height: 100%;
  padding: 13px 8px;
  font-size: 1em;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
}

#header #nav-bar .main-nav li a:hover {
  border-bottom-color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  #header #nav-bar .main-nav li a {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 767px) {
  #header #nav-bar .main-nav li a {
    padding-left: 4px;
    padding-right: 4px;
  }
}
