.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 860px;
    width: 860px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    width: 970px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1210px;
    width: 1230px;
  }
}

@media screen and (max-width: 999px) {
  #header #nav-bar .container {
    overflow-y: hidden;
    overflow-x: auto;
  }
}
@media screen and (max-width: 991px) {
  #header #nav-bar .container {
    width: 100%;
    max-width: 100%;
  }
}
