.weapon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
  text-indent: -9999px;
}

.th-weak .great-sword {
  background-image: url("/img/icons/week/weapon-great-sword.png");
}

.th-weak .hammer {
  background-image: url("/img/icons/week/weapon-hammer.png");
}

.th-weak .bullet {
  background-image: url("/img/icons/week/weapon-bullet.png");
}

.element {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
  text-indent: -9999px;
}

.th-available .fire {
  background-image: url("/img/icons/element/element_fire.png");
}
.th-available .water {
  background-image: url("/img/icons/element/element_water.png");
}
.th-available .light {
  background-image: url("/img/icons/element/element_light.png");
}
.th-available .ice {
  background-image: url("/img/icons/element/element_ice.png");
}
.th-available .dragon {
  background-image: url("/img/icons/element/element_dragon.png");
}

.debuff {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
  text-indent: -9999px;
}

.th-status .poison {
  background-image: url("/img/icons/debuff/debuff_poison.png");
}
.th-status .sleep {
  background-image: url("/img/icons/debuff/debuff_sleep.png");
}
.th-status .paralysis {
  background-image: url("/img/icons/debuff/debuff_paralysis.png");
}
.th-status .blastblight {
  background-image: url("/img/icons/debuff/debuff_blastblight.png");
}
.th-status .stun {
  background-image: url("/img/icons/debuff/debuff_stun.png");
}

.fa-star {
  color: #d4a010;
  text-align: center;
  font-size: 12px;
}

.fa-x {
  color: rgb(202, 0, 0);
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
